body{
   margin: auto; 
}

h1{
    text-align: center;
}

.head{
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 70px;
    font-size: 25px;
}

.picture{
    background-image: url("assets/Privacy-MeetUp.jpg");
    height: 310px;
}

.header{
    height: 200px;
    background-color: black;
    margin-top: 0px;
}

.meetup{
    border: 1px solid;
    width: 400px;
    margin: auto;
}

.meetup__date{
    border: 1px solid;
    text-align: center;
}

.meetup__title{
    border: 1px solid;
    text-align: center;

}

.meetup__description{
    border: 1px solid;
    text-align: center;

}

.delete{
    border: 1px solid;
    text-align: center;
    margin-left: 170px;
}



form{
    text-align: center
}
